{% load static %}
{%block content%}
<title>Platento | Profile</title>
<style>
    .user {
        display: inline-block;
        width: 150px;
        height: 150px;
        border-radius: 50%;
      
        object-fit: cover;
      }
      .user:hover {
        transform: scale(1.05);
      }
      #follow-button {
        color: #212529a1;
        font-family: "Helvetica";
        font-size: 10pt;
        background-color: #d9d9d9;
        border: 1px solid;
        border-color: #808080;
        border-radius: 3px;
        width: 85px;
        height: 30px;
        top: 50px;
        left: 50px;	
        cursor: hand;        		    
      }
</style>
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<div class="container">
    {% include 'partials/_alerts.html' %}

    <h1 class="form__title">Profile</h1>
    <div class="form__massage form__massage--error"></div>
    
    <label for="id_profile_image">
        {% if user.profile_image %}
            <img src="{{user.profile_image.url}}" class="user">
        {% else %}
            <img src="{% static 'image\default-profile-photo.png' %}" class="user">
        {% endif %}  
        
    </label>
    <h3 style="font-style: italic;">{%if user.user_options == "Teacher" %}Mr :{% else %}St :  {%endif%}{{ user.user.username }}  </h3>

    {% if user.user_options == "Teacher" and user.user != request.user %}
        {% if follow == True %}
            <form action="{% url 'unfollow' user.user.id %}" method="POST">
                {% csrf_token %}
                <button id="follow-button" type="submit">Unfollow</button>
            </form>
        {% else %}
            <form action="{% url 'follow' user.user.id %}" method="POST">
                {% csrf_token %}
                <button id="follow-button" type="submit">Follow</button>
            </form>
        {% endif %}
    {% endif %}

    <hr>

    <div class="form__input-group">
        <label value="{{user.first_name}}" name="first_name" type="text" id="first_name" class="form__input" >{{user.first_name}} {{user.last_name}}
        <div class="form__input-error-massage"></div>
    </div>
    <div class="form__input-group">
        <label value="{{ user.user.email }}" name="first_name" type="text" id="first_name" class="form__input" >{{ user.user.email }}
        <div class="form__input-error-massage"></div>
    </div>
   <hr>
        {%if user.user_options == "Teacher" %}
        <button  class="form__button" type="submit"><a class="text-dark" style="text-decoration: none; color:#FFFFFF;" href="{% url 'videosuser' user.user.id %}">Show Videos</a></button>
        {%endif%}


</div>
   {%endblock%}