{% load static %}
{%block content%}
<title>Platento | Profile</title>
<style>
    .user {
        display: inline-block;
        width: 150px;
        height: 150px;
        border-radius: 50%;
      
        object-fit: cover;
      }
      .user:hover {
        transform: scale(1.05);
      }
</style>
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<div class="container">
    {% include 'partials/_alerts.html' %}
    {% if request.user.is_authenticated%}

<form class="form" method="POST" id="createAccount" enctype="multipart/form-data">
    {% csrf_token %} 
    <h1 class="form__title">Profile</h1>
    <div class="form__massage form__massage--error" class="alert alert-danger" ></div>
    <h4>welcome,  {{user.username}}</h4>
    <label for="id_profile_image">
        {% if profile_image %}
            <img src="{{profile_image.url}}" class="user">
            <input type="file" name="profile_image" id="id_profile_image" style="display: none;">
        {% else %}
            <img src="{% static 'image\default-profile-photo.png' %}" class="user">
            <input type="file" name="profile_image" id="id_profile_image" style="display: none;">
        {% endif %}  
    </label>
    <hr>

    <div class="form__input-group">
        <input value="{{first_name}}" name="first_name" type="text" id="first_name" class="form__input" autofocus placeholder="{{first_name}}">
        <div class="form__input-error-massage"></div>
    </div>
    <div class="form__input-group">
        <input value="{{last_name}}" name="last_name" type="text" id="last_name" class="form__input" autofocus placeholder="{{last_name}}">
        <div class="form__input-error-massage"></div>
    </div>
    <hr>
    <button  class="form__button" name="btnsave" type="submit">Save Changes</button>
    
   </form>
   <hr>
        {%if user_options == "Teacher" %}
        <button  class="form__button" type="submit"><a class="text-dark" style="text-decoration: none; color:#FFFFFF;" href="{% url 'upload_video' %}">Upload Video</a></button>
        <hr>
        <button  class="form__button" type="submit"><a class="text-dark" style="text-decoration: none; color:#FFFFFF;" href="{% url 'group_create' %}">Create Group</a></button>
        <hr>
        <button  class="form__button" type="submit"><a class="text-dark" style="text-decoration: none; color:#FFFFFF;" href="{% url 'videos' %}">Your Videos & Groups</a></button>
        {%endif%}
        <hr>
        <button  class="form__button" type="submit"><a class="text-dark" style="text-decoration: none; color:#FFFFFF;" href="{% url 'logout' %}">Logout</a></button>
   {%else%}
   <h4 class="alert alert-danger">
       You must <a href="{% url 'login' %}" class="text-dark"> Sign In </a>
   <h4>
   {%endif%}
</div>
   {%endblock%}