{% extends 'base.html' %}
{% load static %}
{%block title%}Videos{%endblock%}
{%block content%}

<div class="row me-2 ms-2" >
    {% for vedio in videos%}
        <div class="all" style="width: 750px;">
            <h2>Title :</h2>
            <h5><div id="tit" class="title">{{vedio.title}}</div></h5>
            <video width="320" height="240" controls>
                <source src="{{ vedio.file.url }}" type="video/mp4">
              </video>
            <h2>Descraption :</h2>
            <h5><div id="des" class="title">{{vedio.description}}</div></h5>
        </div>
    
    
    {%endfor%}
</div>
{%endblock%}    